.navbar {
    background: linear-gradient(to right, #fe2023 30%, #1e3264 70%);
    padding: 1rem;
    height: 10%;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }
  
  .nav-links a.active {
    border-bottom: 2px solid white;
  }
  