<div class="bg">
    <div class="ranking">
        <h1>Clasificación</h1>
        <div class="estudiante">
            <h3>Posición</h3>
            <h3>Nombre</h3>
            <h3>Carrera</h3>
            <h3>Puntaje Total</h3>
        </div>
        @for (usuario of ranking; track usuario.idEstudiante) {
        <div class="estudiante">
            <h3>{{ $index + 1 }}</h3>
            <h3>{{usuario.nombre}}</h3>
            <h3>{{usuario.carrera}}</h3>
            <h3>{{usuario.puntajeTotal}}</h3>
        </div>
        }
    </div>
</div>