<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand disabled" href="{{idAdmin}}/fixture/update">
        <img src="./assets/logoCopaAmerica.png" alt="Logo Copa América">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link item" href="{{idAdmin}}/fixture/update">Fixture</a>
            </li>
            <li class="nav-item">
                <a class="nav-link item" href="{{idAdmin}}/fixture/update/champion">Finalistas</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle item" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Mi cuenta
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#cerrarModal">Cerrar
                            Sesión</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="cerrarModal" tabindex="-1" aria-labelledby="cerrarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cerrarModalLabel">Cerrar Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea cerrar la sesión?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="logout()">Cerrar
                    sesión</button>
            </div>
        </div>
    </div>
</div>