<div class="form-container">
    <form [formGroup]="registroForm" (ngSubmit)="crearUsuario()">
        <!-- Form header -->
        <h3>¡Regístrate!</h3>

        <div>
            <label for="nombre">Nombre Completo</label>
            <input type="text" formControlName="nombre">
            @if (esValido('nombre')) {
            <div class="error">El nombre completo es requerido.</div>
            }
        </div>

        <div>
            <label for="email">Correo Electrónico</label>
            <input type="email" formControlName="email">
            @if (esValido('email')) {
            <div class="error">
                @if (registroForm.get('email')?.errors?.['required']) {
                El correo electrónico es requerido.
                }
                @if (registroForm.get('email')?.errors?.['email']) {
                El correo electrónico no es válido.
                }
            </div>
            }
        </div>

        <div>
            <label for="carrera">Carrera</label>
            <input type="text" formControlName="carrera">
            @if (esValido('carrera')) {
            <div class="error">La carrera es requerida.</div>
            }
        </div>

        <div>
            <label for="contrasena">Contraseña</label>
            <input type="password" formControlName="contrasena">
            @if (esValido('contrasena')) {
            <div class="error">La contraseña es requerida.</div>
            }
        </div>

        <div>
            <label for="campeon">Campeón</label>
            <select formControlName="campeon">
                <option value="" disabled selected>Seleccione un campeón</option>
                @for (s of selecciones; track s.nombre) {
                <option [value]="s.nombre" [disabled]="desabilitarOpcion(s.nombre, 'subcampeon')">{{ s.nombre }}</option>
                }
            </select>
            @if (esValido('campeon')) {
            <div class="error">El campeón es requerido.</div>
            }
        </div>

        <div>
            <label for="subcampeon">Subcampeón</label>
            <select formControlName="subcampeon">
                <option value="" disabled selected>Seleccione un subcampeón</option>
                @for (s of selecciones; track s.nombre) {
                <option [value]="s.nombre" [disabled]="desabilitarOpcion(s.nombre, 'campeon')">{{ s.nombre }}</option>
                }
            </select>
            @if (esValido('subcampeon')) {
            <div class="error">El subcampeón es requerido.</div>
            }
        </div>

        <button type="submit">Crear Cuenta</button>

        <a routerLink="/login" class="login-link">¿Ya tienes una cuenta? Inicia sesión</a>
    </form>
</div>