<div class="bg">

    <div>
        <h1>Próximos Partidos</h1>
        @for (partido of fixture; track partido.fecha ) {
        <form class="fecha" [formGroup]="prediccionForms[partido.id]" (ngSubmit)="crearPrediccion(partido.id)">
            <h3>{{ partido.dia }}</h3>
            <h3> {{ partido.horario }} </h3>
            <div class="partido">
                <h3>{{ partido.seleccionLocalNombre }}</h3>
                <label for="golLocal"></label>
                <input name="golLocal" type="number" onkeypress="return event.charCode >= 48" min="0"
                    formControlName="golLocal">
                <span class="separador">vs</span>
                <label for="golVisitante"></label>
                <input name="golVisitante" type="number" onkeypress="return event.charCode >= 48" min="0"
                    formControlName="golVisitante">
                <h3>{{ partido.seleccionVisitanteNombre }}</h3>
            </div>
            @if (prediccionForms[partido.id].valid) {
            <button type="submit" class="btn btn-success">Guardar</button>
            }
        </form>
        }
    </div>

    <div>
        <h1>Resultados</h1>
        @for (jugado of jugados; track jugado.fecha) {
        <div class="fecha">
            <h3>{{ jugado.dia }}</h3>
            <h3> {{ jugado.horario }} </h3>
            <div class="partido">
                <h3>{{ jugado.seleccionLocalNombre }}</h3>
                <h3>{{ jugado.golesLocal }}</h3>
                <span class="separador">vs</span>
                <h3> {{ jugado.golesVisitante }}</h3>
                <h3>{{ jugado.seleccionVisitanteNombre }}</h3>
            </div>
        </div>
        }
    </div>

</div>